<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- Required CSS modules-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
  <link href="styles.css" rel="stylesheet" />
</head>

<body>
  <!-- Vuetify wrapper (required) -->
  <v-app id="app" v-cloak>
    <div class="main">

      <!-- User info - Start -->
      <div class="user-info text-center">
        <v-avatar>
          <v-img :src="requester.avatar ? requester.avatar : defaultAvatar" />
        </v-avatar>
        <h1 class="text-center">{{ requester.name }}</h1>
        <p class="text-center">{{ requester.email }}</p>
      </div>
      <!-- User info - End -->

      <!-- App content - Start -->
      <v-divider class="my-3"></v-divider>

      <p class="text-center">
        This is a sample app built with <v-icon color="red darken-3" size="20">fa-heart</v-icon> and:
      </p>

      <v-list dense>
        <v-list-item-group v-model="item" color="primary">
          <v-list-item v-for="(item, index) in items" :key="index">
            <v-list-item-icon>
              <v-icon size="15">fa-chevron-right</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ item.text }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>

      <v-divider class="my-3"></v-divider>

      <p class="text-center">
        <v-btn
          v-if="items[item] && items[item].url"
          class="text-none text-normal-spacing white--text"
          color="primary"
          block
          depressed
          :href="items[item].url"
          target="_blank"
        >
          Find out more about {{ items[item].text }}
        </v-btn>
      </p>
      <!-- App content - End -->

    </div>
  </v-app>

  <!-- Required JS modules-->
  <script src="https://static.zdassets.com/zendesk_app_framework_sdk/2.0/zaf_sdk.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="app.js"></script>
</body>

</html>
